body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container1 {
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 10px;
    text-align: center;
    width: 80vw;
}

#container2 {
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 10px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    width: 80vw;
}

.try {
    font-size: 1.5vw;
    border: thin solid black;
    width: 80vw;
    margin-bottom: 0.2vw;
    padding: 0.5vw;
}

#triesContainer {
    position: relative;
    top: -99%;
    padding: 0.1vw;
}

#solvedContainer {
    position: relative;
}

.solve {
    font-size: 20px;
    border: thin solid black;
    text-align: center;
    position: relative;
    padding: 10px;
    margin-bottom: 1vw;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
}

.grid-item {
    background-color: white;
    padding: 10px;
    text-align: center;
    border: thin solid black;
    height: 3vw;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw;
    background-color: white;
    border-radius: 2px;
    border-color: black;
    position: relative;
    padding: 20px;
}

.button {
    height: 50px;
    width: 20vw;
    font-weight: bold;
    border: thin solid black;
    color: black;
    font-size: 1.5vw;
}

#shuffleButton  {
    background-color: coral;
}

#enterButton {
    background-color: lightgreen;
}

#shButton {
    background-color: beige;
}
